body {
  padding: 60px 100px 60px 100px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.error {
  border: 3px rgb(216, 53, 53) solid;
  background: rgb(231, 176, 176);
  padding: 10px 20px 10px 20px;
  color: rgb(216, 53, 53);
}

.success {
  border: 3px rgb(101, 131, 33) solid;
  background: rgb(212, 231, 176);
  padding: 10px 20px 10px 20px;
  color: rgb(101, 131, 33);
}
